<html>
  <head>
    <title>
      welcome
    </title>
  </head>
  <body>
    <h1>List of Boooks</h1>
    <form>
      <div class="table-responsive">
        <table class="table table-striped em-table ">
          <thead>
            <th width="10%">Book Name</th>
            <th width="15%">Cost</th>
            <th width="8%">Author</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" name="bookname"></td>
              <td><input type="text" name="cost"></td>
              <td><input type="text" name="author-indicator"></td>
            </tr>
            <tr>
              <td><input type="text" name="bookname"></td>
              <td><input type="text" name="cost"></td>
              <td><input type="text" name="author"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="em-buttons">
        <a href="/books/create_book" class="cta-link back-button">CreateNew</a>
        <a href="#" class="cta-link edit-button">Edit</a>  
      </div>
    </form>
  </body>
</html>