<html>
  <head>
    <title>
      welcome
    </title>
  </head>
  <body>
    <h1> Boook</h1>
    <form name="form1" method="POST" action="/books/create">
    <table>
        <tr>
        <td>Book</td>
        <td><input type="text" name="bookName" ></td>
        </tr>
        <tr>
        <td>cost</td>
        <td><input type="text" name="cost" ></td>
        </tr>
        <tr>
          <td>Author</td>
          <td><input type="text" name="author" ></td>
          </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>  
  </body>
</html>